@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 56% 96%;
    --foreground: 215 25% 27%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;
    --primary: 195 74% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 215 25% 27%;
    --muted: 210 40% 90%;
    --muted-foreground: 215 25% 45%;
    --accent: 210 80% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 195 74% 60%;
    --chart-1: 195 74% 60%;
    --chart-2: 210 80% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215 25% 27%;
    --sidebar-primary: 195 74% 60%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 90%;
    --sidebar-accent-foreground: 215 25% 27%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 195 74% 60%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 74% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 22% 65%;
    --accent: 210 80% 65%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 195 74% 50%;
    --chart-1: 195 74% 50%;
    --chart-2: 210 80% 65%;
    --chart-3: 197 37% 74%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --sidebar-background: 222 47% 14%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 195 74% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217 33% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 25%;
    --sidebar-ring: 195 74% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
