@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 100% 98%;
    --foreground: 240 10% 3.9%;
    --card: 230 100% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 230 100% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221 44% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 230 60% 94%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 230 60% 94%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 142 76% 36%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 230 40% 90%;
    --input: 230 40% 90%;
    --ring: 221 44% 45%;
    --radius: 0.5rem;
    --chart-1: 221 44% 45%;
    --chart-2: 142 76% 36%;
    --chart-3: 230 30% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 230 100% 98%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 221 44% 45%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 230 60% 94%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 230 40% 90%;
    --sidebar-ring: 221 44% 45%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 44% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 142 71% 45%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221 44% 55%;
    --chart-1: 221 44% 55%;
    --chart-2: 142 71% 45%;
    --chart-3: 230 30% 50%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 221 44% 55%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 221 44% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
